* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin centerStuff($var1, $var2) {
    display: flex;
    justify-content: $var1;
    align-items: $var2;
}

.backdrop {
    height: 100%;
    width: 100vw;
    background: #283e4a70;
    z-index: 110;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

.header {

    .navbar-mobile {
        display: none;
    }

    .navbar-main {
        background: #283e4a;
        height: auto;
        width: 100vw;
        @include centerStuff(space-evenly, center);
        color: #f1eeee;
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;

        .navbar-left {

            @include centerStuff(center, center);

            .navbar-brand {
                height: 1.8rem;
                width: 2rem;
                border-radius: 0.2rem;
                @include centerStuff(center, center);

                .navbar-brand__icon {
                    height: 2rem;
                    width: 2rem;
                }
            }

            .nav-search {

                margin-left: 1rem;

                .nav-search__form {
                    .search-input {
                        height: 2rem;
                        width: 20rem;
                        font-family: FontAwesome, 'Source Sans Pro', sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: inherit;
                        font-size: 1.2rem;
                        padding: 0.5rem;
                    }
                }
            }
        }

        .navbar-right {

            @include centerStuff(center, center);

            .nav-items {
                @include centerStuff(space-between, center);

                .nav-item {
                    list-style: none;
                    flex: 1;
                    padding: 0.5rem 1rem 0.5rem 1rem;
                    cursor: pointer;

                    .nava-link {
                        text-decoration: none;
                        color: #f1eeee;
                    }

                    .fas {
                        font-family: "Font Awesome 5 Free";
                        font-size: 1.5rem;
                        color: #f1eeee;
                    }
                    

                    img {
                        height: 2rem;
                        width: auto;
                    }
                }

                #profile {
                    img {
                        border-radius: 50%;
                    }
                }
            }

            .try-premium {
                font-family: 'Source Sans Pro', sans-serif;
                width: 7rem;
                color: #c7c5a4;
                text-align: center;
                font-size: 0.8rem;
                cursor: pointer;
            }
        }
    }
}

.main {
    padding: 3rem 0 3rem 0;
    background: #f5f5f5;

    .container {
        @include centerStuff(center, flex-start);

        .container-left, 
        .container-right {
            background: #ffffff;
            width: 25%;
            height: 100vh;
            margin: 1rem;
        }

        .container-middle {
            @include centerStuff(center, center);
            flex-direction: column;
            width: 45%;

            .post-container {
                background: #fff;
                font-family: 'Source Sans Pro', sans-serif;
                color: #272727;
                border: 1px solid grey;
                border-radius: 0.3rem;
                margin: 0.5rem;
                width: 100%;
    
                .other-followers {
                    @include centerStuff(space-between, center);
                    border-bottom: 0.5px solid rgb(221, 211, 211);
                    padding: 0.5rem;
    
                    .follow-text {
                        font-size: 1rem;
                        font-weight: 200;
    
                        .bold-text {
                            font-weight: 400;
                        }
                    }
                }
    
                .post {
                    .shared-by {
                        @include centerStuff(space-between, center);
                        padding: 1rem 1rem 0 1rem;
    
                        .profile {
                            @include centerStuff(center, center);
    
                            .profile-photo { 
                                img {         
                                    width: 3rem;
                                    height: 3rem;
                                }
                            }

                            .profile-photo__circle {
                                border-radius: 50%;
                                width: 3rem;
                                height: 3rem;

                                img {
                                    width: 3rem;
                                    height: 3rem;
                                    border-radius: 50%;
                                }
                            }

                            .online-status {
                                height: 0.8rem;
                                width: 0.8rem;
                                border-radius: 50%;
                                background-color: orange;
                                transform: translate(-0.6rem, 1rem);
                            }

                            .profile-details {
                                padding: 0.5rem;
                                .profile-name {
                                    font-weight: 400;
                                    span {
                                        font-weight: 200;
                                        font-size: 0.8rem;
                                    }
                                }

                                .profile-summary, 
                                .more-details {
                                    font-weight: 200;
                                    font-size: 0.8rem;
                                }
                            }
                        }
    
                        .follow-button {
                            .button {
                                color: #5a5af8;
                                a {
                                    text-decoration: none;
    
                                    i {
                                        padding: 0 0.5rem 0 0;
                                    }
                                }
                            }
                        }
                    }
    
                    .post-content {
                        .post-text {
                            font-size: 1rem;
                            font-weight: 300;
                            padding: 0 1rem 0.5rem 1rem;
                            margin: 0 0 0.5rem 0;
                            z-index: 0;
                        }
    
                        .post-img__container {
                            margin: 0;
                            padding: 0;
                            .post-img {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                }

                .likes-comments {
                    padding: 1rem 1rem 0.5rem 1rem;
    
                    .emojis {
                        padding-right: 0.5rem;
                    }
                    .count {
                        font-weight: 200;
                    }
    
                    .react {
                        padding-top: 1rem;
                        .like, .comment, .share, .send {
                            font-size: 0.8rem;
                            padding-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:60rem) {
    .header {
        .navbar-main {
           display: none;
        }

        .navbar-mobile {
            display: flex;

            .navbar-mobile__top {
                position: fixed;
                background: #5a8fbb;
                height: auto;
                width: 100vw;
                @include centerStuff(center, center);
                z-index: 100;
                padding: 0.5rem;
                box-shadow: 0 5px 5px -5px #333;

                .navbar-menu {
                    margin-right: 0.25rem;
                    margin-left: 0.25rem;
                    .fas,
                    .far {
                        font-family: "Font Awesome 5 Free";
                        font-size: 1.5rem;
                        color: #ffffff;
                    }   
                }

                .nav-search {
                    .nav-search__form {
                        .search-input {
                            margin: 0 1rem 0 1rem;
                            height: 1.8rem;
                            width: 22rem;
                            font-family: FontAwesome, 'Source Sans Pro', sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            text-decoration: inherit;
                            font-size: 1.2rem;
                            padding: 0.5rem;
                        }
                    }
                }

                .messages {
                    margin-right: 0.25rem;
                    margin-left: 0.25rem;
                    .fas {
                        font-family: "Font Awesome 5 Free";
                        font-size: 1.5rem;
                        color: #f1eeee;
                    }
                }
            }

            .navbar-mobile__bottom {
                z-index: 100;
                @include centerStuff(center, center);
                background: #eef0f3;
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100vw;
                box-shadow: 0 -5px 5px -5px #333;

                .nav-items {
                    width: 100vw;
                    @include centerStuff(space-evenly, center);
                    padding: 0.5rem;

                    .nav-item {
                        list-style: none;
                        @include centerStuff(space-evenly, center);

                        .nava-link {
                            text-decoration: none;
                            color: #636363;
                        }

                        .fas,
                        .far {
                            font-family: "Font Awesome 5 Free";
                            font-size: 1.5rem;
                            color: #636363;
                        }

                        img {
                            height: 1.8rem;
                            width: 1.8rem;
                        }
                    }
                }
            }

            .navbar-mobile__side {
                display: none;
                width: 80%;
                height: 100vh;
                position: fixed;
                z-index: 120;
                background-color: #ebebeb;
                font-family: 'Source Sans Pro', sans-serif;
                
                .navbar-mobile__side-banner {
                    background: #5a8fbb;
                    height: 20%;
                    width: 100%;

                    .banner-box {
                        @include centerStuff(space-between, center);
                        width: 100%;
                        height: 100%;
                        flex-direction: column;

                        .banner-box__top {
                            @include centerStuff(space-between, center);
                            width: 90%;
                            .banner-link {
                                .profile-img {
                                    height: 3rem;
                                    width: 3rem;
                                    border-radius: 50%;
                                }
                            }
                        }

                        .banner-box__bottom {
                            @include centerStuff(space-between, center);
                            padding-bottom: 0.5rem;
                            width: 90%;

                            .profile-details {
                                color: #f1eeee;
                                display: inline;
                            }
                        }

                        .fas {
                            color: #f1eeee;
                        }
                    }
                }

                .navbar-mobile__side-menu {
                    height: 100%;

                    .menu-items {
                        @include centerStuff(space-between, flex-start);
                        flex-direction: column;
                        
                        .menu-item {
                            list-style: none;
                            height: 2.5rem;
                            width: 100%;
                            padding-top: 1rem;

                            .menu-link {
                                padding: 0.5rem 1rem 0.5rem 1rem;
                                font-size: 1.2rem;
                                text-decoration: none;
                                color: #272727;
                                font-weight: 400;

                                .fas {
                                    padding-right: 1rem;
                                    color: #616161;
                                }
                            }

                            .menu-divider {
                                padding: 0;
                                border-bottom: 1px solid #8d8d8d;
                            }
                        }
                    }
                }
            }
        }
    }

    .main {
        .container {
            .container-left,
            .container-right {
                display: none;
            }

            .container-middle {
                width: 60%;
            }
        }
    }
}

@media(max-width:30rem) {

    .header {
        .navbar-mobile {
            .navbar-mobile__top {
                @include centerStuff(space-between, center);
                .nav-search {
                    .nav-search__form {
                        .search-input {
                            margin: 0;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .main {
        .container {
            .container-middle {
                width: 95%;

                .post-container {
                    .likes-comments {
                        .counter {
                            p {
                                font-size: 0.8rem;
                            }
                        }


                        .react {
                            @include centerStuff(space-evenly, center);

                            .fas {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}